body {

  background-image:url("../images/retina_wood.png");
  background-color:black;
}

.jumbotron {

  background-image:url("../images/retina_wood.png");
  height:800px;

}

.page-header {

  font-family: 'Monoton', cursive;
  text-align:center;
  color:yellow;
  height:100px;
  background-color:#663300;
  border-color:black;
  border-height:10px;
  width:100%;
  height:180px;


}


.instructions {

  font-family: 'Open Sans', sans-serif;
  color:black;
  text-align: center;
  float:left;

}


.game {
  
  margin-top:25px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color:black;
  position:relative;
  float:left;

}


#guesses-left {
  font-family: 'Open Sans', sans-serif;
  font-size:30px;

}


#wrong-guesses {
  font-family: 'Open Sans', sans-serif;
  font-size:30px;

}


#win-counter {
  font-family: 'Open Sans', sans-serif;
  font-size:30px;

}

#loss-counter {
  font-family: 'Open Sans', sans-serif;
  font-size:30px;

}


.images {

  float:left;
  position:absolute;
  margin-top:200px;

}


.img-fluid {
  height:360px;
  width:360px;
  margin-left:700px;

}

.footer {
  clear:both;
  overflow:auto;
  margin-top:250px;
  background-color:black;
  color:white;
  text-align:center;
  padding:40px;
  font-size:20px;


}
