body {

  background-color:white;
  color:black;

}

.jumbotron {

  background-color:#993300;

}


.page-header {

  font-style: times;
  text-align:center;
  color:black;
  height:100px;
  background-color:red;
  border-color:black;
  width:100%;

}


.instructions {


  color:black;
  text-align: center;

}


img{
  float:left;
  height:100px;
  width:100px;
}


.game {
  float:left;
  margin-top:25px;
  text-align: center;
  font-size:100px;

}


.panel-footer {


  background-color:black;
  color:white;
  text-align:center;
  padding:50px;

}
